.logo {
	width: 197px;
	height: 60px;
	float: left;
	margin-top: 20.5px;
	margin-left: 98px;
	margin-right: 103.4px;
}
.nav {
	float: left;
	margin-top: 35.4px;
	margin-right: 31px;
	color: #3D58A6;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
}
.navigation {
	background-color: #FFFFFF;
	position: fixed;
	top: 0;
	left: 0;
	width: 1366px;
	height: 100.2px;
	z-index: 3;
}
.img1 {
	width: 1170px;
	height: 460px;
	float: left;
	margin-left: 98px;
	padding-top: 30px;
}
.conteiner {
	margin-top: 100.5px;
	width: 1366px;
	height: 520px;
	background-color: #E6E6E6;
}
.box {
	position: absolute;
	top: 421.5px;
	left: 128px;
	width: 339px;
	height: 147px;
	z-index: 2;

}
.text {
	font-size: 30px;
	color: #E6E6E6;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.conteiner2 {
	width: 1366px;
	height: 499.33px;
	background-color: #363E97;
}
.text1 {
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	padding-top: 30px;
	padding-left: 99.5px;
}
.left-box {
	float: left;
	width: 570px;
	height: 320px;
	background-color: #F2F2F2;
	margin-left: 99.5px;
	margin-top: 89.9px;
}
.right-box {
	float: right;
	width: 570px;
	height: 320px;
	background-color: #F2F2F2;
	margin-right: 99.5px;
	margin-top: 89.9px;
}